[Unit]
Description=CrowdSec to Cloudflare IP List Synchronization Daemon
After=network-online.target crowdsec.service
Wants=network-online.target
Documentation=https://github.com/webstudiobond/crowdsec-cloudflare-list-bouncer

[Service]
Type=simple
EnvironmentFile=-/etc/default/crowdsec-cloudflare-list-bouncer
ExecStartPre=/usr/bin/crowdsec-cloudflare-list-bouncer -c /etc/crowdsec/bouncers/crowdsec-cloudflare-list-bouncer.yaml -t
ExecStart=/usr/bin/crowdsec-cloudflare-list-bouncer -c /etc/crowdsec/bouncers/crowdsec-cloudflare-list-bouncer.yaml
Restart=on-failure
RestartSec=10s

UMask=0077
CapabilityBoundingSet=
NoNewPrivileges=yes
ProtectSystem=strict
ProtectHome=yes
ProtectClock=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
ProtectProc=invisible
ProcSubset=pid
PrivateTmp=yes
PrivateDevices=yes
MemoryDenyWriteExecute=yes
LockPersonality=yes
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
SystemCallArchitectures=native
SystemCallFilter=@system-service
ReadOnlyPaths=/etc/crowdsec/bouncers

[Install]
WantedBy=multi-user.target
